﻿@model RemouteJob.Models.ClientsModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientsModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneContact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdClient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
