﻿@model IEnumerable<RemouteJob.Models.SellersModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSeller }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSeller }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSeller })
        </td>
    </tr>
}

</table>
